<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring-1.2.xsd
		http://www.springframework.org/schema/tx https://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<bean id="ds" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" 
				value="oracle.jdbc.driver.OracleDriver"/>
		<property name="url" 
				value="jdbc:oracle:thin:@localhost:1521:xe"/>
		<property name="username" value="user6"/>
		<property name="password" value="1234"/>
	</bean>
	<bean id="sqlSessionFactory" 
			class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="ds"/>
		<property name="configLocation" 
			value="/WEB-INF/spring/mybatis/mybatis-config.xml"/>
		<property name="mapperLocations" 
			value="/WEB-INF/spring/mybatis/mapper/*-mapper.xml"/>
	</bean>
	
	<bean id="sqlSession" 
			class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory"/>
	</bean>
	
</beans>
