<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="ROOT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{HH:mm} %-5level %logger{35} - %msg%n
			</Pattern>
		</layout>
	</appender>
	<appender name="MY_MSG" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>
				[%d{yyyy-MM-dd HH:mm:ss}:%relative] [%thread] %-5level %logger{35} - %msg%n
			</Pattern>
		</encoder>
	</appender>

	<logger name="com.biz.bbs" level="DEBUG" additivity="false">
		<appender-ref ref="MY_MSG"/>
	</logger>
	
	<!-- ERROR < WARN < INFO < DEBUG < TRACE -->
	<root level="INFO">
		<appender-ref ref="ROOT" />
	</root>
</configuration>