@charset "UTF-8";

table.list {
    border-collapse: collapse;
    border-spacing: 0;
    width:96%;
    border:1px solid #ccc;
    margin:10px auto;
}

table.list tr{
    border:1px solid #ddd;
}

table.list tr:nth-child(even) {
    background-color: #ccc;
}
table.list tr:nth-child(odd) {
    background-color: #fff;
}

table.list tr:hover {
    background-color: #ddd;
    cursor: pointer;
}

table.list th {
	text-align: left;
}

table.list td, table.list th{
    padding:8px;
    vertical-align:top;
}

table.list td:first-child, table.list th:first-child {
    padding-left: 16px;
}

